body {
	position: relative;
}

.section {
	font-family: monospace;
	padding-top: 70px;
	padding-bottom: 70px;
	min-height: 100vh;
}

.section h1 {
	color: lime;
}

#section_UnixDEI, #section_Oradores {
	background-color: #1E1E1E;
}

#section_Programa, #section_Contactos {
	background-color: #222222;
}

.jumbotron {
	background-color: #222222;
}

.jumbotron p {
	color: lime;
}

.jumbotron p a {
	color: darkgreen;
}

#events li {
	background-color: #1E1E1E;
	border: 1px solid lime;
	color: lime;
}

#events .col-xs-1{
	text-align: right;
}

#events .col-xs-7{
	text-align: center;
}

.thumbnail {
	background-color: #222222;
	border: none;
	color: lime;
}

#contactos li {
	background-color: #1E1E1E;
	border: none;
}

#contactos li span {
	display: inline-table;
}

#contactos li .fa-stack.fa-lg {
	margin-right: 30px;
}

#contactos li .fa-stack.fa-lg .fa-stack-1x{
	color: lime;
}

#contactos li .contacto {
	color: lime;
}