
@font-face {
    font-family: PixelFont;
    src: url(Munro.ttf);
}

@font-face {
    font-family: PixelNumber;
    src: url(MunroNarrow.ttf);
}
body {
	position: relative;
	font-family: sans-serif;
	font-weight: 100;
}
*:focus{
	outline: none;
	text-decoration: none;
}
.section {
	padding-top: 70px;
	padding-bottom: 70px;
	min-height: 100vh;
}
#section_UnixDEI,#section_Programa, #section_Contactos {
	background-color: #232323;
}

#section_Oradores,#section_Sobre {
	background-color: #fff;
}

.time {
	text-align: right;
}

#events > .col-xs-1{
	text-align: right;
}

#events > .col-xs-7{
	text-align: center;
}
.center{
	display: block;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}
.logo{
	width:48%;
	margin-top: 20vh;
}
.seta{
	width:7%;
	position: absolute;
	top: 78vh;
	left: 46%;
}

.titulo{
	color: #8dc63f;
	font-family: 'VT323';
	text-align: center;
	font-size: 28pt;
	margin-bottom: 40px;

}
.titulo2{
	color: #232323;
	font-family: 'VT323';
	text-align: center;
	font-size: 28pt;
	margin-bottom: 40px;

}




.list-group-item{
    background-color: transparent;
    border-radius: 0px;
    border-right: 2px solid #8dc63f;
    border-left: 2px solid #8dc63f;
    margin-bottom: 10px;
    color: #8dc63f;
    font-size: 14pt;
    border-bottom: 0px;
    border-top: 0px;
    padding-bottom: 2px;
    padding-top: 2px;

}
.list-group-item:first-child {
	border-radius: 0px;


}
.list-group-item:last-child {
    border-radius: 0px;
}
#section_Programa .list-group-item:first-child {
    font-family: 'VT323';
    border-radius: 0px;
    border-right: 0px;
    font-size: 18pt;
    text-align: center;
    padding-bottom: 2px;
    padding-top: 2px;

}
#section_Programa .list-group-item:last-child {
    font-family: sans-serif;
    border-radius: 0px;
    font-weight: 100;
    padding-left: 15px;
}
.titulo_oradores{
	font-family:'VT323';
	font-size: 20px;
	border-bottom: 2px dashed #232323;
	color: #232323;
}

.thumbnail{
	border:0px;
}
.icons{
	color: #232323;

}
.icons:hover{
	color: #8dc63f;
	border: 0px;

}
.redes{
	margin-top: 20px;
}
.logo_nav{
	height: 24px;
}
.sobre h1{
	margin-bottom: 60px;
}
.sobre p{
	font-size: 18pt;
	margin-left: 5%;
	margin-right: 5%;
	font-weight: 100;

}
.btn_sobre{
	margin-top: 50px;
	margin-left: 5%;
	margin-right: 5%;
	font-size: 16pt;
}
.btn_sobre a{
	text-align: center;
	color: #232323;
	font-family:'VT323';
	text-decoration: underline;
}
.btn_sobre a:hover{
	color: gray;
}
@media(max-width: 700px){
	.sobre p{
	font-size: 14pt;

	}	
}

.navbar-inverse .navbar-nav>li>a {
	font-family:'VT323';
	margin:4px;
	font-size: 12pt;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus{
	font-family:'VT323';
	margin:4px;
	background-color: #8dc63f;
	color: #232323;


}